body {
    background-color: hsl(51, 65%, 50%);
    color: rgba(0 0 0 1);

}
p {
    text-align: justify;
    text-align: 50px;
}

/* Formatação do Menu*/



nav#menu {
    display: block;
    color: aliceblue;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li{
    display: inline-block;
    background-color: cornsilk;
    padding: 10px;
    margin: 2px;
    /*transition: background-color 1ms;*/
    -ms-transition: background-color 5ms;
}

nav#menu li:hover{
    background-color: #d81414;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: #000000;
    text-decoration: none
}

nav#menu a:hover{
    color: #fffff;
    text-decoration: underline; 
}